.topNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: transparent;
  }
  
  .ham {
    position: absolute;
    right: 0px;
    width: 6rem;
    height: 2rem;
    font-size: 20px;
    margin-left: 0.5rem;
    background: none;
    color: #C60D5C;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .ham svg{
     width: 120px;
 } 
  .menuX {
    position: absolute;
    top: 8px;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  .sideNav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
    background: #0000009e;
    width: 300px;
    height: 81vh;
    overflow: hidden;
    display: none;
    color: white;
    /* hide the menu above the screen by default */
        transition: transform 0.5s ease;
  
  }
  
  .showNav {
      display: block;
    transform: translateX(0);
    transition: transform 0.5s ease;
  }
  
  .sideNav ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 5rem;
  }
  
  .sideNav ul li a {
    display: block;
    color: white;
    padding-bottom: 10px;
    margin-top: 1rem;
    border-bottom: 2px solid black;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
  }
  
  .sideNav ul li a:hover, .sideNav ul li a:focus {
    border-bottom: 2px solid white;
  }
  
  .overlay {
    position: fixed;
    display: none;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
  }
  
  .showOverlay {
    display: block;
  }
  
  section {
    width: 100%;
    height: 100vh;
    display: flex;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
  }
  
  section:nth-child(even) {
    background-color: rgb(245, 245, 245);
  }
/* header end */
html{
    scroll-behavior: smooth;
}
.text-hightlight-1{
    color: #C60D5C;
}
.brand{
    position: absolute;
    left: 0;
    margin-left: 0.5rem;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.brand img{
    width: 20%;
}
.mid{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.mid img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.detail{
    position: relative;
}
.detail h2{
    color: white;
    font-size: 60px;
}
.detail p{
    width: 55%;
    font-size: 1.1rem;
    padding-bottom: 1rem;
    color: white;
}
.detail a{
    background: #C60D5C;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
}
.mid .detail a:hover{
    border: 1px solid white;
}
.img-size{
    margin-top: 10px;
}


 /* ------------second section-------------- */
 .back{
     background: lightblue;
 }
 .back-part{
    padding: 75px 0;
 }
 .back-img img{
    width: 100%;
 }
 .back-detail{
     background: white;
     padding: 14px 30px;
}

/* ---------third section------------ */
.third{
    padding: 75px;
}
div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  * {
    box-sizing: border-box;
  }
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  .third-btn{
      padding-top: 50px;
  }

  /* ----------footer ---------*/
  .footer-bg{
      background-image: url("images/banner2.jpg");
      overflow: hidden;
      min-height: 900px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .footer-text{
      color: white;
      margin-top: 55px;
  }
  .footer-btn{
      border: 2px solid white;
      padding: 5px 15px;
      color: white;
      background: none;
      border-radius: 10px;
      margin-top: 25px;
      margin-right: 10px;
  }
  .footer-btn2{
      background: #D70F64;
  }
  .footer-btn2:hover{
      background: none;
  }

  /* ------footer form------- */
  .footer-back{
      background: black;
      margin-top: 30px;
      padding: 70px;
  }
  .textarea{
      margin-top: 10px;
  }
 

  /* icon*/
  .icons{
    padding-top: 32px;
  }
body > footer > ul.list-unstyled.list-inline.text-center.py-2 > li:nth-child(2) > a{
  background: #008f85;
  font-weight: 600;
  padding: 0.4rem 1.4rem;
  border-radius: 30px;
  border: none;
  color: #fd0d87;
}
ul > li > a{
    color: #fd0d87;
}

  
